menuentry "Sistema de Recuperación" --class recovery --class gnu-linux --class gnu --class os OPENBRACKET
	insmod part_gpt
	insmod ext2
	set root='(/dev/sda,{gpt})'
	search --no-floppy --fs-uuid --set=root {uuid}
	linux /boot/vmlinuz-2.6.26-2-686 root={root}
	initrd /boot/initrd.img-2.6.26-2-686
CLOSEBRACKET
