menuentry "Microsoft Windows 8.1" --class windows --class os OPENBRACKET
	insmod part_gpt
	insmod fat
	set root='(/dev/sda,{gpt})'
	search --no-floppy --fs-uuid --set=root {uuid}
	chainloader /EFI/Microsoft/Boot/bootmgfw.efi
CLOSEBRACKET
