Source: huayra-marble
Section: admin
Priority: extra
Build-Depends:  debhelper (>= 9.20120909)
Maintainer: Mauro <mauro@sdf.org>
Standards-Version: 3.9.5

Package: huayra-marble
Architecture: all
Depends: ${misc:Depends},
         huayra-config-efi,
         rtl-8723-dkms,
         rtl-8723-firmware,
         python (<= 2.8)
Description: Configuraciones para las maquinas MarblePoint
 Este paquete simplemente agrega funcionalidades destinadas a las
 maquinas MarblePoint. Otros modelos no deberian necesitar este
 paquete.
