Source: huayra-marble
Section: admin
Priority: extra
Build-Depends:  debhelper (>= 9.20120909)
Maintainer: Desarrolladores de Huayra <equipohuayra@gmail.com>
Standards-Version: 3.9.5

Package: huayra-marble
Architecture: all
Depends: ${misc:Depends},
         huayra-config-efi,
         huayra-enable-intel-sna,
         rtl-8723-new-dkms, firmware-realtek,
         rtk-8723-bt-dkms,
         classmate-laptop-dkms,
         python (<= 2.8),
         huayra-partition-tools
Description: Configuraciones para las maquinas MarblePoint
 Este paquete simplemente agrega funcionalidades destinadas a las
 maquinas MarblePoint. Otros modelos no deberian necesitar este
 paquete.

Package: huayra-enable-intel-sna
Architecture: all
Replaces: huayra-marble (<= 0.12)
Depends: ${misc:Depends}
Description: Este paquete habilita el backend SNA (Sandybridge's New
 Acceleration) utilizado en la nueva generacion de placas de video Intel,
 por ejemplo el utilizado en la maquinas MarblePoint.
